In [63]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [65]:
#reading data
dataset = pd.read_csv("https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv")

data = pd.DataFrame(dataset) #converting to pandas DataFrame

print(data.columns) #Columns

Index(['record_id', 'utility_id_ferc1', 'report_year', 'plant_name_ferc1',
       'fuel_type_code_pudl', 'fuel_unit', 'fuel_qty_burned',
       'fuel_mmbtu_per_unit', 'fuel_cost_per_unit_burned',
       'fuel_cost_per_unit_delivered', 'fuel_cost_per_mmbtu'],
      dtype='object')

In [66]:
A = [1,2]
B = [1,2]
A.extend(B)
print(A)
A.append(B)
print(A)

[1, 2, 1, 2]
[1, 2, 1, 2, [1, 2]]

In [67]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [23]:
pd.DataFrame.describe(data)

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [69]:
#Skewness
pd.DataFrame.skew(data["fuel_qty_burned"])

15.851495469109503

In [70]:
#Kurtosis
pd.DataFrame.kurtosis(data["fuel_qty_burned"])

651.3694501337732

In [72]:
z = data.groupby("fuel_type_code_pudl")
np.mean(z.get_group("coal")["fuel_cost_per_unit_burned"])

67.42182999883

In [48]:
z2 = data.groupby("report_year")
np.mean(z2.get_group(1996)["fuel_cost_per_unit_delivered"])

9196.705947610291

In [53]:
z3 = data.groupby("fuel_type_code_pudl")
z4 = z3.get_group("coal")
z5 = z4.groupby("report_year")
x = np.sum(z5.get_group(1994)["fuel_cost_per_unit_burned"])
y = np.sum(z5.get_group(1998)["fuel_cost_per_unit_burned"])
print(x,y)
print(((x-y)*100)/x)

20.56765451826053

In [55]:
pd.DataFrame.corr(data)

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

In [57]:
data.isna().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [61]:
print(18000/len(data))

0.6096941367747181